</head>
<header>
  <nav>
    <a href="/"><img src="/img/67p-logo.png" alt=""></a>
    <section class="nav-right">
      <% if(user){ %>
        <a href="/profile">profile</a>
        <a href="/createFile">Create File</a>
        <a href="/showFile">Files</a>
      <%}else{  %>
        <a href="/login">Login</a>
        <% } %>
    </section>
  </nav>
  <hr>
</header>
<body>