<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<%- include('./partials/header.ejs') %>

<main>
  <section>
    <a href="/pets">Pets</a>
      <a href="/owners">Owners</a>
  </section>
</main>

</body>
</html>