main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  margin-top: 1vh;
}
#links {
  display: flex;
  gap: 10vw;
}
#links a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 5vw;
  font-weight: 600;
}
:root {
  --main-color: #0e9050;
  --second-color: #3dc47d;
}
