body {
  margin: 0;
  font-family: Arial;
  min-height: 100vh;
}
nav {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
}
img {
  max-width: 10vw;
  height: auto;
}
nav a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-size: 30px;
}
hr {
  margin-top: -2vh;
  height: 0.5vh;
  background-color: rgb(14, 56, 12);
  border: none;
}
.nav-right {
  display: flex;
  gap: 2vw;
}
