main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  margin-top: 1vh;
}
#file {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2vh;
  background-image: linear-gradient(
    to bottom right,
    var(--second-color),
    var(--main-color)
  );
  padding: 2vw;
  width: 70vw;
  gap: 1vh;
  box-shadow: 2px 4px 8px rgb(160, 160, 160);
}
#file img {
  border-radius: 2vw;
  width: 80vw;
  max-width: 100%;
  height: auto;
}
:root {
  --main-color: #0e9050;
  --second-color: #3dc47d;
}
